<% posts.comments.each do |comment| %>
<tr>
  <td>
    <%=link_to admin_user_path(user) do %>
    <%=image_tag comment.user.get_profile_image(80,80)%><br>
    <%=comment.user.nickname %>
    <%end%>
  </td>
  <td><%=comment.comment %></td>
  <td><%=link_to"削除",admin_comment_path(comment),method: :delete,class: "btn btn-sm btn-danger"%></td>

</tr>
<%end%>