<h4>チャットグループ一覧</h4>



<%=link_to "グループ新規作成",new_chatgroup_path %>
<%=link_to "ユーザーページへ",user_user_path(current_user)%>


<table class="table table-hover table-inverse">
  <thead>
    <th>グループ画像</th>
    <th>ルーム名</th>
    <th>ルーム概要</th>
    <th>参加人数</th>
  </thead>
  <tbody>
  <% @chatgroups.each do |group| %>
    <tr>
      <td><%=image_tag group.get_group_image(100,100)%></td>
      <td><%=group.group_name%></td>
      <td><%=group.introduction%></td>
      <td></td>
      <td><%=link_to "編集",edit_chatgroup_path(group)%></td>
      <td><%=link_to "削除",chatgroup_path(group),method: :delete %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<h5>参加中のグループ</h5>
<% if @chatgroup_join == [] %>
<%=@nogroup%>
<%else%>
参加中のグループ
<table>
 <thead>
   <th>グループ画像</th>
    <th>ルーム名</th>
    <th>ルーム概要</th>
    <th>参加人数</th>
 </thead>
 <tbody>
<% @chatgroup_join.each do |connect| %>
  <tr>
    <td>
      <%=link_to chatgroup_path(connect.chatgroup) do %>
      <%=image_tag connect.chatgroup.get_group_image(100,100)%>
      <%end%>
    </td>
    <td><%=connect.chatgroup.group_name%></td>
    <td><%=connect.chatgroup.introduction%></td>
    <td>(<%=connect.chatgroup.user_ids.count%>)</td>
    <td><%=link_to "編集",edit_chatgroup_path(connect.chatgroup.id)%></td>
    <td><%=link_to "削除",chatgroup_path(connect.chatgroup.id),method: :delete %></td>
  </tr>
  <%end%>
 </tbody>

</table>


<%end%>