<div class="container">
  <h1 class="text-center bg-info"><%=@group.group_name%></h1>
   <div class="row">
    <% @group.chatmessages.each do |message| %>

      <div class="border d-flex flex-column bd-highlight ">
        <%=message.user.nickname %>
        <%=message.message %>
        <% end %>
      </div>

    <%=flash[:notice] %>
    <% if @chatmessage.errors.any? %>
    <%@chatmessage.errors.full_messages.each do |msg|%>
    <%=msg%>
    <% end %>
    <% end %>
    <%=form_with model: @chatmessage,url: chatgroup_chatmessages_path(@group.id) do |f| %>
    <%=f.hidden_field :chatgroup_id,value: @group.id %>
    <%=f.text_field :message %>
    <%=f.submit "送信" %>
    <% end %>

   </div>
</div>