<div class="mx-auto" style="width: 200px;">
  <h1>投稿編集</h1>

  <%= form_with model: @post do |f| %>
  <h5>タイトル</h5>
  <%=f.text_field :title %>
  <h5>内容</h5>
  <%=f.text_area :body,style: "width: 200%; height: 200px;" %>
  <%=f.submit '編集終了' %>

  <%=link_to "戻る",post_path(@post.id),class: "btn-info col-sm-2 mb-5" %>
  <% end %>
</div>